header {
    width: 96%;
    display: flex;
    flex-direction: row;
    background-color: navy;
    height: 7vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 2% 0 2%;
    position: sticky;
    top: 0;
}
.header-right {
    display: flex;

}
.header-right a {
    margin-right: 10px;
}

a {
    outline: none;
    text-decoration: none;
    color: #fff;
    
}

img {
    width: 50%;
}


