.comment {
    margin: 0;
    margin-left: 5%;

}

.comment-profil {
    display: flex;
    margin-left: 5%;
}

#photo-profil {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: 2%;


}

.comment-control {
    display: flex;
    justify-content: flex-end;
}